body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  width: 88%;
  margin: auto;
}

h1 {
  font-size: 1.6em;
  font-weight: 500;
}

.title-Shrikhand {
  font-family: "Shrikhand", cursive;
}

* ul {
  padding: 0;
}

* li {
  list-style-type: none;
}

@media screen and (min-width: 1441px) {
  .container-desktop {
    width: 1450px;
    margin: auto;
    box-shadow: 0px 0px 15px #292929;
  }

  body {
    background: #fbfbfb;
  }
}
header {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 5px #292929;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  z-index: 2;
  background: #fff;
}
header img {
  width: 40%;
  margin: auto;
}

@media screen and (min-width: 700px) and (max-width: 930px) {
  header img {
    width: 30%;
  }
}
@media screen and (min-width: 931px) and (max-width: 1440px) {
  header img {
    width: 20%;
  }
}
@media screen and (min-width: 1441px) {
  header img {
    width: 15%;
  }
}
.search--box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #eaeaea;
  padding-top: 20px;
  padding-bottom: 20px;
}
.search--box .fa-map-marker-alt {
  font-size: 1.15em;
  color: #353535;
}
.search--box input {
  border: none;
  font-size: 1.1em;
  background-color: #eaeaea;
  outline: none;
  padding-left: 15px;
}

@media screen and (min-width: 930px) {
  .search--box {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .search--box .fa-map-marker-alt {
    font-size: 1.35em;
    color: #353535;
  }
  .search--box .input {
    font-size: 1.35em;
  }
}
.title {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.title h1 {
  text-align: center;
  width: 75%;
  margin: auto;
  padding-top: 45px;
}
.title p {
  font-size: 1.2em;
  color: #656565;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.title .btn {
  border: none;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  display: block;
  margin: auto;
  color: #fff;
  font-size: 1.2em;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  margin-top: 35px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.title .btn:hover {
  box-shadow: 0 2px 8px rgba(31, 30, 30, 0.7);
  background: linear-gradient(175deg, #ff88de, #9b63df);
}

/*Fonctionnement*/
.selection {
  padding-top: 20px;
}
.selection ul {
  padding-top: 10px;
  padding-bottom: 50px;
}
.selection-select {
  background-color: #f6f6f6;
  height: 70px;
  margin-bottom: 25px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  height: 70px;
  cursor: pointer;
  box-shadow: 2px 5px 5px #e6e6e6;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.selection-select:hover {
  box-shadow: 0 2px 8px rgba(85, 84, 84, 0.6);
  background: #f2eafb;
}
.selection-select:hover .color-icon {
  color: #9356dc;
}
.selection-select--circle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #9356DC;
  color: #fff;
  position: absolute;
  left: -12px;
  text-align: center;
  font-size: 0.95em;
}
.selection-select h2 {
  font-size: 1.1em;
  font-weight: 400;
}
.selection-select .color-icon {
  color: #7e7e7e;
  font-size: 1.3em;
  margin-right: 20px;
  margin-left: 30px;
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
  .selection ul {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .selection-select {
    width: 45%;
    margin-right: 20px;
  }
}
@media screen and (min-width: 930px) and (max-width: 1024px) {
  .selection ul {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  .selection-select {
    width: 32%;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .selection ul {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  .selection-select {
    width: 31%;
    margin-right: 27px;
  }
}
@media screen and (min-width: 1441px) {
  .selection ul {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  .selection-select {
    width: 31%;
    margin-right: 30px;
  }
}
.container-restaurants {
  background: #f6f6f6;
}

.allrestaurants {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.allrestaurants .card {
  max-width: 100%;
  height: 250px;
  margin-bottom: 30px;
  background: #fff;
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  box-shadow: 2px 5px 5px #e6e6e6;
  transition: all 0.3s;
}
.allrestaurants .card:hover {
  box-shadow: 0 2px 8px rgba(85, 84, 84, 0.6);
}
.allrestaurants .card a {
  text-decoration: none;
  color: black;
}
.allrestaurants .card--picture {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.allrestaurants .card--subtitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 15px;
}
.allrestaurants .card--subtitles .subtitle_1 {
  font-size: 1.2em;
}
.allrestaurants .card--subtitles .subtitle_2 {
  font-size: 1em;
}
.allrestaurants .card--subtitles p {
  line-height: 1.4em;
  margin: 0;
}
.allrestaurants .card--subtitles .heart {
  font-size: 1.6em;
  padding-right: 10px;
}
.allrestaurants .card--subtitles .heart .border {
  fill: transparent;
  stroke: black;
}
.allrestaurants .card--subtitles .heart .fill {
  transform: scale(0);
  fill: red;
  opacity: 0;
  transform-origin: bottom center;
  transition: all 0.4s ease-in-out;
}
.allrestaurants .card--subtitles .heart:hover .fill {
  transform: scale(1);
  opacity: 1;
}
.allrestaurants .card--subtitles .heart:hover .border {
  stroke: red;
}
.allrestaurants .card--subtitles .case-new {
  width: 85px;
  height: 30px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: #2c9c81;
  font-weight: 500;
  font-size: 0.85em;
  position: absolute;
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 930px) and (max-width: 1024px) {
  .restaurantgrps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 107%;
  }
  .restaurantgrps .card {
    width: 44%;
    margin-right: 35px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .restaurantgrps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 107%;
  }
  .restaurantgrps .card {
    width: 22%;
    margin-right: 25px;
  }
}
@media screen and (min-width: 1441px) {
  .restaurantgrps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 107%;
  }
  .restaurantgrps .card {
    width: 22%;
    margin-right: 28px;
  }
}
footer {
  background: #353535;
}
footer .container {
  padding-top: 10px;
  padding-bottom: 30px;
}
footer .container .title_logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
  color: white;
  border: none;
}
footer .container li {
  line-height: 1.8em;
}
footer .container li a {
  text-decoration: none;
  color: #fff;
}
footer .container li a .icon1_footer {
  padding-right: 10px;
}
footer .container li a .icon2_footer {
  font-size: 0.8em;
  padding-right: 8px;
}

.spinner {
  position: fixed;
  left: -10px;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
  animation: fade-out 0.8s ease-in-out both;
  animation-delay: 1.2s;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.spinner .circle {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #9356DC;
  position: relative;
  animation: circle 2s linear infinite;
}
.spinner .circle::before, .spinner .circle::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  border-radius: 50%;
}
.spinner .circle::before {
  border-top: 10px solid #FF79DA;
  transform: rotate(120deg);
}
.spinner .circle::after {
  border-top: 10px solid #99E2D0;
  transform: rotate(240deg);
}
.spinner .circle span {
  position: absolute;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  animation: circle2 2s linear infinite;
}
@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}
@keyframes circle2 {
  to {
    transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=style.css.map */
