.menu_restaurant {
    padding: 0;
    border-radius: 45px 45px 0px 0px;
    z-index: 5;
    position: relative;
    background: $color-light-grey;
    top: -70px;
    margin-bottom: -70px;
    padding-bottom: 70px;
    menu {
        padding: 0 45px 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 0;
        .title_Shrikhand {
            font-size: 1.9em; 
            margin-bottom: 0;
        }
        .icon {
            
            .heart:hover {
                animation: animate-heart 3s linear;
            }
            @keyframes animate-heart {
                0%{
                    opacity: 0;
                }
                30%{
                    background: linear-gradient(175deg, lighten($secondary, 3%), lighten($primary, 3%));
                    opacity: .5;
                }
                50%{
                    background: linear-gradient(175deg, lighten($secondary, 3%), lighten($primary, 3%));
                    opacity: .7;
                }
                80%{
                    background: linear-gradient(175deg, lighten($secondary, 3%), lighten($primary, 3%));
                    opacity: .9;
                }
                100%{
                    background: linear-gradient(175deg, lighten($secondary, 3%), lighten($primary, 3%));
                    opacity: 1;
                    stroke: 0;
                }

            }
        }   
    }
}