@media screen and (min-width: 800px) {
    
    .containerDesktop {
        width: 1350px;
        margin: auto;
    }
    header {
        img {
            width: 18%;
        }
    }
    .search--box {
        padding-top: 35px;
        padding-bottom: 35px;
        .fa-map-marker-alt {
            font-size: 1.35em;
            color: #353535;
        }
        .input {
            font-size: 1.35em;
        }
    }
    .selection {
        ul {
            display: flex;
            flex-direction: row;
            margin: auto;
        }
        &-select {
            width: 25%;
            margin-right: 35px;
        } 
    }
}
.restaurantgrps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card {
        width: 22%;
        margin-right: 35px;
    }
}
