body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.container {
    width: 88%;
    margin: auto;
}
h1 {
    font-size: 1.6em;
    font-weight: 500;
}
.title_Shrikhand {
    font-family: 'Shrikhand', cursive;
}
*ul {
    padding: 0;
}
*li {
    list-style-type: none;
}
