/*Fonctionnement*/

.selection {
    padding-top: 20px;
    ul {
        padding-top: 10px;
        padding-bottom: 50px;
    }  
    .select {
        
        background-color: $color-light-grey;
        height: 70px;
        margin-bottom: 25px;
        border-radius: 25px;
        @include operation;
        @include box-shadow;
        transition: all 0.4s ease-in-out;
    
        &:hover  { 
            box-shadow: 0 2px 8px rgba(85, 84, 84, 0.6);
            background: lighten($primary, 35%);

            .color-icon {
                color: #9356dc;
            }
        }

        .circule{
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: $primary;
            color: $color-white;
            position: absolute;
            left: -12px;
            text-align: center;
            font-size: 0.95em;

        }
        h2 {
            font-size: 1.1em;
            font-weight: 400;
        } 
        .color-icon {
            color: #7e7e7e;
            font-size: 1.3em;
            margin-right: 20px;
            margin-left: 30px;
            
        }
        
    } 
}