/*Fonctionnement*/

.selection {
    padding: 27px;
    ul {
        display: flex;
        flex-direction: column;
    }

    &-select {
        background-color: $color-light-grey;
        padding-right: 4px;
        margin-bottom: 25px;
        border-radius: 25px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        height: 70px;
        cursor: pointer;
        @include box-shadow;
        position: relative;
        transition: all 0.4s ease-in-out;
    
        &:hover  { 
            box-shadow: 0 2px 8px rgba(85, 84, 84, 0.6);
            background: lighten($primary, 35%);

            .color-icon {
                color: #9356dc;
            }
        }

        &--circle {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: $primary;
            color: $color-white;
            position: absolute;
            left: -10px;
            text-align: center;
            
            span {
                font-size: 0.85em;
            }

        }
        h2 {
            font-size: 1.1em;
            font-weight: 400;
        } 
        .color-icon {
            color: #7e7e7e;
            font-size: 1.3em;
            margin-right: 20px;
            margin-left: 30px;
        }
    } 
}
@media screen and (min-width: 760px) and (max-width: 1185px) {
    
    .selection {
        
        &-select {
            width: 350px;
        }
       
        .select2 {
            margin-left: 25%;
        }
        .select3 {
            margin-left: 50%;
        }
    } 
}

@media screen and (min-width: 1186px)  {
    .selection {
        ul {
            display: flex;
            flex-direction: row;
            margin: auto;
        }
        &-select {
            width: 350px;
            margin-right: 25px;
        }
    }
}