.search--box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey;
    height: 60px;
    .fa-map-marker-alt {
        
        font-size: 1.15em;
        color: #353535;
    }
    input {
        border: none;
        font-size: 1.1em;
        background-color: $color-grey;
        outline: none;
        padding-left: 15px;
        width: 140px;
    }
}
@media screen and (min-width: 930px) {
    
    .search--box {
        .fa-map-marker-alt {
            font-size: 1.35em;
            color: #353535;
        }
        .input {
            font-size: 1.35em;
        }
    }
}