header {
    display: flex;
    justify-content: space-around;
    @include header-shadow;
    height: 60px;
    position: relative;
    z-index: 2;
    background: $color-white;
    img {
        width: 165px;
        margin: auto;
    }
}