.spinner {
    position: fixed;
    left: -10px;
    width: 100%;
    height: 100%;
    background: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
    animation:  fade-out 0.8s ease-in-out both;
    animation-delay: 1.2s;
    

    @keyframes fade-out {
        from {
            opacity: 1;
        }
    
        to {
            opacity: 0;
            visibility: hidden;
        }
    }

    .circle {
        width: 200px;
        height: 200px;
        box-sizing: border-box;
        border-radius: 50%;
        border-top: 10px solid $primary;
        position: relative;
        animation: circle 2s linear infinite;
        &::before, &::after {
            content: '';
            width: 200px;
            height: 200px;
            position: absolute;
            left: 0;
            top: -10px;
            border-radius: 50%;
        }

        &::before {
            border-top: 10px solid $secondary;
            transform: rotate(120deg);
        }
        &::after {
            border-top: 10px solid $tertiary;
            transform: rotate(240deg);
        }
        span {
            position: absolute;
            width: 200px;
            height: 200px;
            text-align: center;
            line-height: 200px;
            animation: circle2 2s linear infinite;
           
        }
        @keyframes circle {
            to {
                transform: rotate(360deg);
            }
        }
        @keyframes circle2 {
            to {
                transform: rotate(-360deg);
            }
           
        }
    }
    
}
